[submodule "ext/drjit-core"]
    path = ext/drjit-core
    url = https://github.com/mitsuba-renderer/drjit-core
[submodule "ext/nanobind"]
    path = ext/nanobind
    url = https://github.com/wjakob/nanobind
