# CMake
CMakeFiles
CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile

# Ninja
.ninja_deps
.ninja_log
*.ninja

# Miscellaneous;
/build*
/Testing
/tests/Testing
*.dir
*~
\.DS_Store
*.dSYM
__pycache__
*.pyc

# Visual Studio
*.vcxproj
enoki.sdf
enoki.sln
enoki.opensdf
enoki.VC.VC.opendb
enoki.VC.db
Debug
Release
*.filters
/.vs
/x64

# Visual Studio Code
/.vscode

# Build products
*_none
*_sse42
*_avx
*_avx2
*_avx512
*_neon
*.ppm
libenoki-jit.so
libenoki-jit.dylib
enoki-jit.dll
libenoki-autodiff.so
libenoki-autodiff.dylib
enoki-autodiff.dll
enoki_ext.cpython*
compile_commands.json
\.clangd

# Documentation
/html
/docs/.build
